DATABASE_URL="file:./dev.db"

# NextAuth (Auth.js)
AUTH_SECRET="cualquier-string-largo-aleatorio-aca" # Podés generarlo con `npx auth secret`

# Discord OAuth
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
